label{
    margin-right: 5px;
}

.roundedDivBorder{
    border: 1px solid #797979!important;
    border-radius: 16px;
    width: 50%;
    margin-bottom: 8px;
}

.contratado{
    padding: 3px;
    border: 1px solid #adff00;
    background: #e4feca;
    width: 50%;
    margin-bottom: 7px;
}

.classificado{
    padding: 3px;
    border: 1px solid #ffcd00;
    background: #f9ebb3;
    width: 50%;
    margin-bottom: 7px;
}

/*
class para caixa de upload de arquivos
*/
.file_upload_box {
    border-style: groove;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    border-color: #afafaf4f;
}
.file_upload_box:hover{
    background-color: #efefef;
}

.form_div{
    padding-left: 30px;
}

.div_border{
    border-style: solid;
    border-width: 0px;
    margin-bottom: 5px;
    padding: 5px;
    width: 50%;
}

.div_border:hover{
    background-color: lightgray;
}

textarea{
    height: 80px;
}

.searchInput{
    background-image: url('../images/searchicon.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    /*width: 100%;*/
    /*font-size: 16px;*/
    padding: 5px 6px 5px 30px !important;
    /*border: 1px solid #ddd;*/
    /*margin-bottom: 12px;*/
}

.inputparcelas{
    margin: 1px !important;
}

.inputparcelas:readonly{
    margin: 1px !important;
    background-color: #dddddd !important;
}

input[type=text]:disabled, input[type=date]:disabled, input[type=number]:disabled {
    background: #dddddd;
}

input[type=text]:readonly, input[type=date]:readonly, input[type=number]:readonly {
    background: #dddddd;
}

input[type=text], input[type=date], input[type=month], input[type=time], input[type=number], input[type=password], select, textarea {
    width: auto;
    padding: 5px 6px;
    margin: 4px 0 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.validation_errors{
    min-height: 48px;
    line-height: 48px;
    border: 1px solid #ffcd00;
    background: #f9ebb3 url(../images/warning.png) center left no-repeat;
    padding-left: 48px;
}

.message_success{
    min-height: 48px;
    line-height: 48px;
    border: 1px solid #adff00;
    background: #e4feca url(../images/checkmark.png) center left no-repeat;
    padding-left: 48px;
}

.message_error{
    min-height: 48px;
    line-height: 48px;
    border: 1px solid #ff0000;
    background: #fbd2d2 url(../images/error.png) center left no-repeat;
    padding-left: 48px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr1 {
    border: dashed lightgrey 1px;
    height:0;
}

.tabela,td,th {
    overflow: hidden;
    border: 2px solid;
    border-color: white;
    text-align-last: center;
    padding: 3px;
    text-align: center;
    /* border-collapse:separate;
    /* border:solid black 1px;*/
    border-radius:8px;
    -moz-border-radius:8px;
}

.tabela2 td{
    overflow: hidden;
    border: 7px solid;
    border-color: white;
    text-align-last: left;
    padding: 3px;
    border-radius:15px;
    -moz-border-radius:15px;
}

th {
    background-color: grey;
    color: white;
}

tr:hover {
    background-color: #E3E3E3;
}

tr{
    background-color: #F2F2F2;
}

.myButton {
    background-color:#d9d9d9;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #999999;
    width: 150px;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:14px;
    padding:5px 5px;
    text-decoration:none;
}
.myButton:hover {
    background-color:#a1a1a1;
}
.myButton:active {
    position:relative;
    top:1px;
}  